
body {
    background-color: #dddddd;
    min-width: 800px;
    min-height: 750px;
    font-family: "Calibri", sans-serif;
    font-size: 12px;
}


.absolute {
    position: absolute;
}


.column {
    position: relative;
    float: left;
    margin-right: 20px;
}


#displayStatsColumn {
    width: 120px;
    height: 750px;
}


#statsDisplay1 {
    position: absolute;
    top: 0px;
    width: 100%;
}


#statsDisplay2 {
    position: absolute;
    top: 150px;
    width: 100%;
}


#statsDisplay3 {
    position: absolute;
    top: 300px;
    width: 100%;
}


#statsDisplay4 {
    position: absolute;
    top: 450px;
    width: 100%;
}


#graphs {
    width: 400px; /* Master Graph width (No other changes required in code) */
    height: 600px;
}


#menu {
    width: 350px;
}


.inline {
    display: inline;
}


.blue {
    color : #0000ff;
}


.magenta {
    color : #ff00ff;
}


.red {
    color: #ff0000;
}


.green {
  color: #00ff00;
}


.right {
    float: right;
}


.row {
    width: 100%;
}
